
@{
    ViewBag.Title = "Interview";
}

@model WebTest.Models.GuestModels

<h2>Interview</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Write name : @Html.TextBoxFor(el => el.Name)</p>
    <p>Write email : @Html.TextBoxFor(el => el.Email)</p>
    <p>Write phone : @Html.TextBoxFor(el => el.Phone)</p>
    <p>
        Get email notification: 
        @Html.DropDownListFor(el => el.WillAttend,
       new[]
       { 
           new SelectListItem() {
               Text = "Yes",
               Value = bool.TrueString
           },
           new SelectListItem() {
               Text = "No",
               Value = bool.FalseString
           },
       })
    </p>
    <input type="submit" value="Confirm">
}

